<p>===================================</p>
<p>notes works!</p>

<h2><p>Check notes.component.html for Notes</p></h2>

<!-- Notes :

HTTP and Observables :

->  We always can't hardcode an array in a service file and use that in other components.
->  Sometimes our service has to request the data from a web server through a "HTTP call".
    That time our service can get "Observables" as response. 
    Then we can store it in an array like structure as display it as we need.

->  "Observables" is a sequence of items that arrives asynchronously over time.
    We can fetch Single item by using "HTTP call" instead of a sequence of items. 
    That Single item is known as "HTTP response".


    Steps : 
    1 - Make an HTTP Get request from Our Service.
    2 - Receive the Observable and cast it into an array of service-type.
    3 - Sudcribe/Use that Observable from other components.
    4 - Assign that service-type array to a local variable in those components 
        which can be used later in the VIEW.


RxJS :

-> Reactive Extensions for Javascript
-> It's an external library to work with Observables. -->