<p>===================================</p>
<p>notes works!</p>

<h2><p>Check notes.component.html for Notes</p></h2>

<!-- Notes :

HTTP and Observables :

->  We always can't hardcode an array in a service file and use that in other components.
->  Sometimes our service has to request the data from a web server through a "HTTP call".
    That time our service can get "Observables" as response. 
    Then we can store it in an array like structure as display it as we need.

->  "Observables" is a sequence of items that arrives asynchronously over time.
    We can fetch Single item by using "HTTP call" instead of a sequence of items. 
    That Single item is known as "HTTP response".


    Steps : 
    1 - Make an HTTP Get request from Our Service.
    2 - Receive the Observable and cast it into an array of service-type.
    3 - Sudcribe/Use that Observable from other components.
    4 - Assign that service-type array to a local variable in those components 
        which can be used later in the VIEW.


        WITH EXAMPLE :

        app.module.ts
        1 - import 'HttpClientModule' from '@angular/commom/http' in 'app.module.ts' also in "import-section" add the 'HttpClientModule'.
        
        service-file
        2 - import 'HttpClient' from '@angular/commom/http' in service-file. 
        Ex - import { HttpClient } from '@angular/common/http';


        3 - Then create an instance of 'HttpClient' inside the constructor as parameter.
            Create a variable and store the api url in that. Then within the class, create a function which fetches the api url through a "get-request" 
            and returns it by using the instance of 'HttpClient'.
            Ex - 
                url="https://api.openbrewerydb.org/breweries";

                constructor(private http:HttpClient) { }

                getDetails(){
                    return this.http.get(this.url);
                }

        component.ts
        4 - import that service in component file. 
            Ex - import {ServiceDemoService} from '../../service-demo.service'

        5 - Then create an instance of that service inside the constructor as parameter..
            Then within ngOnInit(){}, we have to subscribe that function by using the instance of the service which we created previously
            and we can store the result with a call-back function.
            Ex - 
                data:any;
    
                constructor(private getData:ServiceDemoService) { }

                ngOnInit() {
                    this.getData.getDetails().subscribe((result)=>{
                    console.log(result);
                    this.data=result;
                });

        component.html
        6 - bind the result and render it in UI.
            Ex - 
                <ul>
                    <li *ngFor="let item of data">
                        {{item.id}}

                    </li>
                </ul>

RxJS :

-> Reactive Extensions for Javascript
-> It's an external library to work with Observables. -->