<p>===================================</p>
<p>notes works!</p>

<h2><p>Check note.component.html for Notes</p></h2>

<!-- Notes : 

Service :

    1 - We need to share data across multiple components. 
        So in that case, Service is responsible for providing the data to the component that asks for it.

    2 - We can use Service for writting the implementation of any logic.

    3 - We can also use Service for External Interaction. 
        Such as : Connecting with Database

    4 - We can use Service in Angular by Dependency Injection.

Dependency Injection :

    1 - Dependency-Injection is a coding pattern in which a class receives it's Dependencies 
        from external sources rather than creating them itself.

    2 - The Dependency-Injection framework has a thing is called  "The Injector" which will register all our dependencies.
        The Injector is like a container which contains all the required dependencies for a class.

    3 - If we are initializing a class then the DI Framwork will provide all the required dependencies of that class. 
        We don't have to worry about that.

How to use a SERVICE :

    1 - Define a service Class.
    2 - Register with Injector. (Register the Injector by using the "Providers" metadata in app.module.ts)
    3 - Decalre the Service as dependency in all those classes which needs it.


    *When a component get initialized, ngOnInit() gets called once.* -->


